html{
    height: 100%;
}

body{
    background-color:#2f3035;
    background-image:url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height:100px;
    text-align: center;
}

nav{
    background-color: rgba(0, 0, 0, 0.248);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

main{
    height:400px;
    text-align: center;
    padding-top:60px;
    padding-left: 240px;
    padding-right: 240px;
}

footer{
    background-color: rgba(0, 0, 0, 0.535);
    padding-top: 60px;
    padding-bottom: 60px;
}

h1{
    font-size: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav a{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    text-align: center;
    font-size: 10px;
    color:rgba(255, 255, 255, 0.583);
}

.maps{
    padding-bottom: 100px;
}